{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <main class="form-wrapper">
            <h1 class="text-center mb-3">Restablecer Contraseña</h1>
            <p class="text-center mb-3">Introduce tu nueva contraseña.</p>

            {# FORM #}
			{{ form_start(form, { 'attr': { 'class': 'p-4 p-md-5 border rounded-3 bg-body-tertiary' } }) }}
            
                {# NEW PASSWORD #}
                <div class="form-floating mb-3">
                    {{ form_row(form.newPassword.first) }}
                    <div class="form-text">
                        <ul>
                            <li>Mínimo 6 caracteres, máximo 16</li>
                            <li>No puede ser la misma que la actual</li>
                        </ul>
                    </div>
                </div>

                {# CONFIRMAR #}
                <div class="form-floating mb-3">
                    {{ form_row(form.newPassword.second) }}
                </div>

                {# SUBMIT #}
                <button type="submit" class="w-100 btn btn-lg btn-primary">Restablecer Contraseña</button>

			{{ form_end(form) }}
        </main>
    </div>
{% endblock %}
