.global-container{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
      auto   /*header*/
      1fr    /*body*/
      auto;  /*footer*/
}

/* *************************************************** */
/*      PEQUEÑAS CORRECCIONES A CSS DE BOOTSTRAP       */
/* *************************************************** */
/* pequeña corrección para color de svgs */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
/* NAVBAR */
.bd-navbar {
  padding: .65rem 0;
}