{#
  Modal de confirmación genérico.
  Usado por friendship_controller.js (y cualquier otro controller que lo necesite).

  El JS rellena dinámicamente [data-modal-body] con el mensaje
  y escucha el clic en [data-modal-confirm] para resolver la Promise.
#}
<div class="modal fade" id="confirm-modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title">Confirmar acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" data-modal-body>
                ¿Estás seguro?
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger" data-modal-confirm>
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>
